# dataset
data/ScanRefer*
data/glove*
data/scannet/scannet_data
data/scannet/scans
/data/scannet/scans_test

# cache
data/scannet/__pycache__
lib/__pycache__
models/__pycache__
utils/__pycache__


# output
outputs/
/scripts/exp/scannetv2/pointgroup/pointgroup_run1_scannet/


.idea

